
.fm-card-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}



.filterButton {
    display: flex;
    justify-content: center;
}

.filterButton button {
    height: 50px;
    width: 150px;
    margin: 5px;
}