
.footer-layout{
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    margin-top: 40vh;
    color: white;
    text-align: center;
    width: 100%;
}


.footer-copyright{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}