.card-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.card-main {
    width: 24rem;
    margin-bottom: 30px;
}

.card-content {
   
}

.card-owner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.household-adding{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.household-adding button {
    margin-left: 50px;
    height: 100px !important;
}

.household-adding i {
    font-size: 2em !important;
}

/* Household-detail style */
.household-overview {
    display: flex;
    flex-direction: column;
}

.household-overview div {
    display: flex;
    flex-direction: row;
    margin: 5px 10px 5px 20px ;
    align-items: baseline;
}

/* household detail styles */
.household-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.household-detail div {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;

}

/* household position */
.household-position {
    
}

.household-position div {
    margin: 10px;
}

/* household maps */
.maps {
    height: 250px !important;
    max-width: 450px !important;
}

/* household owner */
.household-owner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.household-owner div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


