.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 90vh;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex: 30%;
    
   
}
.left-container div {
    margin: 10px;
    background-color: gray;
}

.right-container {
    display: flex;
    flex-direction: column;
    flex: 70%;
    
}

.content {
    display: block;
    border: 2px ridge;
    border-radius: 5px;
    margin-top: 2rem;
    padding: 0.5rem;
    width: 1200px;
}
.edit-profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    margin-right: 7rem;

}
.edit-profile button {
    margin: 0 0.5rem 1rem 1rem;
}


