.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 90vh;
    background-color: #f3f3f3;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex: 30%;
    
   
}
.left-container div {
    margin: 10px;
    background-color: gray;
}

.right-container {
    display: flex;
    flex-direction: column;
    flex: 70%;
    
}

.content {
    display: block;
    border: 2px ridge;
    border-radius: 5px;
    margin-top: 2rem;
    padding: 0.5rem;
    width: 1200px;
}
.information {
    height: 40px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


