
.site-layout .site-layout-background {
  background: #fff;
}

  .range-picker {
    width: 300;
  }

  .search-bar {
  
    margin-bottom: 10px;
  }

  .icon-logo {
    font-size: 30px ;
  }

  #components-dropdown-demo-dropdown-button .ant-dropdown-button {
    margin: 0 8px 8px 0;
  }

  .user-icon {
    color:white !important;
  }

  img {
    max-width: 100%;
    height: auto;
}

.item {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}